* {
    padding: 0;
    margin: 0;
    font-family: Verdana, sans-serif;
}

body { background-color: #eaeaea; }

.wrapper {
    float: left;
    margin: 4px;
}

.wrapper .container {
    padding: 4px;
    float: left;
    margin: 4px;
    border: 2px solid #222;
    -webkit-box-shadow: 2px 2px 8px #bbb;
    -ms-box-shadow: 2px 2px 8px #bbb;
    box-shadow: 2px 2px 8px #bbb;
}

.wrapper .container canvas { display: block; }

.wrapper .container button {
    display: block;
    float: left;
    clear: left;
    width: 128px;
    padding: 16px;
    text-align: center;
    font-size: 16px;
}